@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../abstracts/queries' as q;
@use '../abstracts/mixins' as m;

html, body{
  font-family: f.$roboto-font;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.calculator-container{
  margin-inline: auto;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 18rem;
  height: 5rem;
}

.two-items{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.four-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.display{
  background-color: c.$color-black;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  padding: 0 18px;
  color: c.$color-white;
  font-size: m.size(18);
}

.calc-wrapper{
  width: 115px;
}

//MEDIA QUERIES 

@media (min-width: q.$small-phone){
  .container{
    width: 20rem;
  }
}


@media (min-width: q.$tablet){
    .container{
      width: 30rem;
      height: 6rem;
    }
    .display{
      font-size: m.size(35);
      font-weight: bold;
    }
}

@media (min-width: q.$notebook){
  .container{
    width: 36rem;
    height: 7rem;
  }
}
