@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;

html, body{
  font-family: f.$roboto-font;
  font-weight: bold;
}

.calculator-container{
  margin-inline: auto;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 18rem;
  height: 3rem;
}

.two-items{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.four-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.display{
  background-color: c.$color-black;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  padding: 0 18px;
  color: c.$color-white;
}

.calc-wrapper{
  width: 115px;
}