@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;

.og-btn{
  background-color: c.$color-og;
  color: c.$color-white;
  font-size: m.size(20);
}

.grey-btn{
  background-color: c.$color-grey;
  color: c.$color-black;
  font-size: m.size(20);
}

.og-btn:hover, .grey-btn:hover{
  opacity: 0.7;
}

.og-btn:active, .grey-btn:active{
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

